* {
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
}
body {
    margin: 0;
    font-family: sans-serif;
    color: #212529;
}
header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5E81D1;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
nav {
    height: 100px;
    padding:  10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F87500;
}
img {
    fill: #212529;
}

#FF8D27