* {
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
    margin: 0;
    font-family: sans-serif;
    color: #212529;
}
header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5E81D1;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

#F87500
#FF8D27