* {
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: #212529;
    background-color: #ff8d27;
}
header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5e81d1;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
nav {
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f87500;
}
img {
    fill: #212529;
}
main {
    padding: 10px;
}
form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    border: 0;
    padding: 10px 20px;
}
input[type="submit"] {
    width: fit-content;
    padding: 10px 5px;
    color: white;
    background-color: #5e81d1;
}
.close {
    padding: 10px 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/img/xmark-solid.svg);
}
